%h2 Посты:
- if @posts.size != 0
  - @posts.each do |post|
    %h2= link_to post.title, post
    %p= time_ago_in_words(post.created_at)
    - if signed_in? && current_user.admin?
      = link_to 'Edit', edit_post_path(post)
      = link_to 'Delete', post_path(post), method: :delete, data:{ confirm: "Are you sure"}
- else
  %h1 Постов нет
