/*
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

body {
  margin: 0;
  background-color: MediumSeaGreen;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*вложение категории */
.replies {
  margin: 0px 10px 0px;
  font-size: smaller;
}

.category {
  font-size: 1.8em;
}

.color {
  background-color: #21E992;
  border-radius: 7px;
  border-color: #FACB10;
}

.border {
  border: 0px;
  margin-top: 5px;
  padding: 5px 15px 20px;
}

.deleteAction {
  color:blue;
  cursor: pointer;
}

.tags_radio {
  border: 0px;
  margin-top: 5px;
  padding: 5px 15px 20px;
  background-color: #21E992;
  border-radius: 7px;
  border-color: #FACB10;
  margin-top: 25px;
  left: 15px;
  width: 295px;
  position: absolute;

  #margin {
   margin-top: 5px;
  }
}

.navbar-default {
  background-color: #21E992;
  margin-top: 1px;
  margin-left: 15px;
  margin-right: 14px;
  margin-bottom: 0px;
  border-color: #FACB10;
}

.css  { font-size: 1.8em; }
.css1 { font-size: 1.6em; }
.css2 { font-size: 1.4em; }
.css3 { font-size: 1.2em; }
.css4 { font-size: 1.0em; }

#posts {
  .post {
    border-bottom: 1px solid #FACB10;
    .title {
      margin-bottom: 0px;
      .a {
        color: #397CAC;
        text-decoration: none;
        font-weight: 100;
        font-size: 1.25rem;
        padding-bottom: 0px;
      }
    }
    .date {
      margin-top: 0px;
      font-size: 15px;
      color: #B2BAC2;
    }
  }
}

p {
 margin-bottom: 0px;
}


.search {
  width: 260px;
  margin-right: 30px;
  #query {
    margin-top: 11px;
    float:left;
    border: 1px solid #cccccc; //цвет рамки
    border-radius: 5px; //закругление углов (общее)
    -webkit-border-radius: 5px; //закругление углов (Google Chrome)
    -moz-border-radius: 5px; //закругление углов (FireFox)
    -khtml-border-radius: 5px; //закругление углов (Safari)
    background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
    outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
    height: 30px; // высота на свое усмотрение
    width: 262px; // ширина на свое усмотрение
    color: #777; //цвет шрифта в обычном состоянии
    font-size: 15px; // Размер шрифта
    font-family: Tahoma; // Стиль шрифта
  }
  #query:focus {
    border: 1px solid yellow;
  }
  #search_submit {
    position: relative;
    top: 8px;
    left: 178px;
    background-color: #00e64d;
    border: 1px solid #00b33c; //цвет рамки
    width: 80px; // ширина на свое усмотрение
    height: 30px;
    border-radius: 4px; //закругление углов (общее)
    -webkit-border-radius: 4px; //закругление углов (Google Chrome)
    -moz-border-radius: 4px; //закругление углов (FireFox)
    -khtml-border-radius: 4px; //закругление углов (Safari)
    color: #777; //цвет шрифта в обычном состоянии
  }

  #date{
    margin-top: 11px;
    float:left;
    border: 1px solid #cccccc; //цвет рамки
    border-radius: 5px; //закругление углов (общее)
    -webkit-border-radius: 5px; //закругление углов (Google Chrome)
    -moz-border-radius: 5px; //закругление углов (FireFox)
    -khtml-border-radius: 5px; //закругление углов (Safari)
    background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
    outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
    height: 30px; // высота на свое усмотрение
    width: 130px; // ширина на свое усмотрение
    color: #777; //цвет шрифта в обычном состоянии
    font-size: 15px; // Размер шрифта
    font-family: Tahoma; // Стиль шрифта
  }
  #date1{
    margin-top: 11px;
    margin-right: 0px;
    float:left;
    border: 1px solid #cccccc; //цвет рамки
    border-radius: 5px; //закругление углов (общее)
    -webkit-border-radius: 5px; //закругление углов (Google Chrome)
    -moz-border-radius: 5px; //закругление углов (FireFox)
    -khtml-border-radius: 5px; //закругление углов (Safari)
    background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
    outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
    height: 30px; // высота на свое усмотрение
    width: 130px; // ширина на свое усмотрение
    color: #777; //цвет шрифта в обычном состоянии
    font-size: 15px; // Размер шрифта
    font-family: Tahoma; // Стиль шрифта
  }
}

