- category_has_many_posts ||= nil
- if category_has_many_posts
  %p= link_to category.name, posts_path(category: category.name)
- else
  %h3= category.name
- from_reply_form ||= nil
- unless from_reply_form
  %p= link_to 'Вложить категорию', new_category_path(category.name, category.id)
  %p= link_to 'Удалить', category, method: :delete, data: { confirm: "Вы уверены ?" }
