= simple_form_for(@category, html: { class: 'form-horizontal'}) do |f|
  = f.hidden_field :parent_id, value: params[:parent_id]
  = f.input :name, label: "Имя категории", class: 'form_control'
  %br
  = f.button :submit, value: "Добавить"
