- if @category.parent
  %h2 Имя категории в которую вы добавляете новую:
  = render 'category', category: @category.parent, from_reply_form: true
  %h2 Введите имя категория которую хотите вложить
= render 'form'
= link_to "Назад", categories_path
